{% extends "base.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
<h1>Notes webapp</h1>
{% if user.username == '' %}
<hr>
<p>
    Not registered? Register <a href="/register">here</a>
</p>
<form action="/" method="POST">
    <!--{% csrf_token %}-->
    <b>Username:</b>
    <p>
        <input placeholder="Username" type="username" name="username">
    </p>
    <b>Password:</b>
    <p>
        <input placeholder="Password" type="password" name="password">
    </p>
    <input type="submit" value="login">
</form>
{% else %}
you are logged in <a href="/logout">logout</a>
{% endif %}
{% endblock %}