{% extends "base.html" %}
{% block title %}New note page{% endblock %}
{% block content %}
<h1>Add a new note</h1>
<hr>
<b><h3>You can use html-tags in your notes!</h3></b>
<p>Add a private note</p>
<form action="/newnote" method="POST">
    <!--{% csrf_token %}-->
    <textarea name="note" rows="5" cols="50"></textarea>
    <p>
    <input type="submit" value="add">
    </p>
</form>

<p>Add a new note/message for everyone to see on their notes page.</p>
<form action="/newpublicnote" method="POST">
    <!--{% csrf_token %}-->
    <textarea name="publicnote" rows="5" cols="50"></textarea>
    <p>
    <input type="submit" value="add">
    </p>
</form>

<a href="notes">To notes page</a>
{% endblock %}