{% extends "base.html" %}
{% block title %}Notes page{% endblock %}
{% block content %}
<h1>Notes page</h1>
<p>
you are logged in as {{ user }} 
<a href="/logout">logout</a>
</p>
add a new note <a href="/newnote">here</a>
<p>
look for a specific note <a href="/notesearch">here</a>
</p>
<h2>Your notes:</h2>
{% for note in notes %}
<div class="note">
    {{ note | safe }}
</div>
{% endfor %}
<h2>Public notes</h2>
{% for note in publicnotes %}
<div class="note">
    {{ note | safe }}
    <!--{{ note }}-->
</div>
{% endfor %}
{% endblock %}